@model IEnumerable<Domain.EF_Models.GroupCharacteristic>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>

    $(function () {

        $(".prodid").attr("readonly", true);
        $(".idchar").attr("readonly", true);

        $('html').on('click', '.addBtn', function () {

            $(this).parent().find(".cont").append($(".innerBox").last().clone());
            $(this).parent().find(".cont").find(".innerBox").last().children().eq(4).val("");
            $(this).parent().find(".cont").find(".innerBox").last().children().eq(7).val("");
            $(this).parent().find(".cont").find(".innerBox").last().find(".idchar").val("0");
            $(".idchar").attr("readonly", true);
        });

         $('.addGroup').on('click', function () {

             $("tbody").append($(".tableBox").last().clone());
             $(".tableBox").last().find("td").find(".innerBox:not(:first)").remove();
             $(".tableBox").last().find("td").find("input").val(" ");
             $(".tableBox").last().find('td').find(".idgroup").text("0");
             $(".tableBox").last().find('td').find(".prodid").val($(".tableBox").first().find('td').find(".prodid").val()).attr("readonly", true);
             $(".tableBox").last().find('td').find(".idchar").val("0").attr("readonly", true);
         });

        $('.saveBtn').on('click', function () {

            var groups = [];

            var groupsElements = $(".tableBox");

            $(groupsElements).each(function (){
                var characteristics = [];

                var idgroup = $(this).find('td').find(".idgroup").text().replace(/\n/ig, '').trim();

                $(this).find(".innerBox").each(function () {

                    var charact = new Object();
                    charact.Id = $(this).find(".idchar").val();
                    charact.Title = $(this).find(".title").val();
                    charact.Value = $(this).find(".value").val();
                    charact.GroupCharacteristicId = idgroup;

                    characteristics.push(charact);
                });

                var group = new Object();
                group.Title = $(this).find('td').find(".group").val();
                group.ProductId = $(this).find('td').find(".prodid").val();
                group.Characteristics = characteristics;
                group.Id = idgroup;

                groups.push(group);
                
            });

            $.ajax({
                type: "POST",
                url: "/admin/GetCharacteristic",
                data: {parameters : JSON.stringify(groups)},
                dataType: "JSON"
          });            
        });
    });

</script>





<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.LabelForModel("Group id")
            </th>
            <th>
                @Html.LabelForModel("Group title")
            </th>
            <th>
                @Html.LabelForModel("Product id")
            </th>
            <th>
                @Html.LabelForModel("Characteristics")
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {

            <tr class="tableBox">
                <td>
                    <div class="idgroup">
                        @Html.DisplayFor(modelItem => item.Id)
                    </div>
                </td>

                <td>
                    @Html.EditorFor(modelItem => item.Title, new { htmlAttributes = new { @class = "group" } })
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.ProductId, new { htmlAttributes = new { @class = "prodid" } })
                </td>
                <td>
                    <div class="box">
                        <div class="cont">
                            @foreach (var сharacteristic in item.Characteristics)
                            {
                            <div class="innerBox">
                                @Html.Label("Id")
                                @Html.EditorFor(modelItem => сharacteristic.Id, new { htmlAttributes = new { @class = "idchar" } })
                                <label> </label>
                                @Html.Label("Title")
                                @Html.EditorFor(modelItem => сharacteristic.Title, new { htmlAttributes = new { @class = "title" } })
                                <label> </label>
                                @Html.Label("Value")
                                @Html.EditorFor(modelItem => сharacteristic.Value, new { htmlAttributes = new { @class = "value" } })
                                <br>
                            </div>
                            }
                        </div>

                        <button type="button" class="addBtn">Add сharacteristic</button>
                    </div>
                </td>
            </tr>

        }

    </tbody>

</table>
<br>
<button type="button" class="addGroup">Add group</button>
<button type="button" class="saveBtn">Save</button>