@model IEnumerable<Domain.EF_Models.Product>
@{
    ViewData["Title"] = "ProductEdit";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/product-edit.css" />

</head>
<body>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                This week
            </button>
        </div>
    </div>
    <canvas class="my-4 w-100 chartjs-render-monitor" id="myChart" width="683" height="288" style="display: block; width: 683px; height: 288px;"></canvas>

    <h1>ProductEdit</h1>
    <div class="accordion" id="accordionExample">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button id="btnXML1" type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#XML1" aria-expanded="false" aria-controls="XML1">XML</button>
            <button id="btnJson2" type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#Json2" aria-expanded="false" aria-controls="Json2">Json</button>
            <button id="btnExcel3" type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#Excel3" aria-expanded="false" aria-controls="Excel3">Excel</button>
        </div>

        <div class="row">
            <div class="col">
                <div class="collapse" id="XML1" aria-labelledby="btnXML1" data-parent="#accordionExample">
                    <div class="card card-body">
                        <form method="post" enctype="multipart/form-data">
                            <input type="file" name="file" />
                            <button type="submit">Upload XML</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="collapse" id="Json2" aria-labelledby="btnJson2" data-parent="#accordionExample">
                    <div class="card card-body">
                        <form method="post" enctype="multipart/form-data">
                            <input type="file" name="file" />
                            <button type="submit">Upload Json</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="collapse" id="Excel3" aria-labelledby="btnExcel3" data-parent="#accordionExample">
                    <div class="card card-body">
                        <form method="post" enctype="multipart/form-data">
                            <input type="file" name="file" />
                            <button type="submit">Upload Excel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @{
        if (Model != null)
        {
            <table>
                <tr>
                    <td>Title</td>
                    <td>Type</td>
                    <td>VendorCode</td>
                    <td>Description</td>
                    <td>BrandId</td>
                    <td>RetailPrice</td>
                    <td>CategoryId</td>
                    <td>PackageId</td>
                    <td>CountInStorage</td>
                    <td>WarrantyMonth</td>
                    <td>Series</td>
                    <td>Model</td>
                </tr>
                @foreach (var product in Model)
                {
                    <tr>
                        <td>@product.Title</td>
                        <td>@product.Type</td>
                        <td>@product.VendorCode</td>
                        <td>@product.Description</td>
                        <td>@product.BrandId</td>
                        <td>@product.RetailPrice</td>
                        <td>@product.CategoryId</td>
                        <td>@product.PackageId</td>
                        <td>@product.CountInStorage</td>
                        <td>@product.WarrantyMonth</td>
                        <td>@product.Series</td>
                        <td>@product.Model</td>
                    </tr>
                }
            </table>
        }
    }


    <div class="container-fluid">
        <h4 class="mb-3">Edit Product</h4>
        <form class="needs-validation" novalidate="">

            <div class="mb-5">
                <label>Title</label>
                <input type="text" class="form-control" id="title" required="">
            </div>

            <div class="mb-5">
                <label>Type</label>
                <input type="text" class="form-control" id="type" required="">
            </div>

            <div class="mb-5">
                <label>Vendor Code</label>
                <input type="text" class="form-control" id="vendorCode" required="">
            </div>

            <div class="mb-5">
                <label>Description</label>
                <input type="text" class="form-control" id="description" required="">
            </div>

            <div class="mb-5">
                <label>Brand Id</label>
                <input type="text" class="form-control" id="brandId" required="">
            </div>

            <div class="mb-5">
                <label>Retail Price</label>
                <input type="text" class="form-control" id="retailPrice" required="">
            </div>

            <div class="mb-5">
                <label>Category Id</label>
                <input type="text" class="form-control" id="categoryId" required="">
            </div>

            <div class="mb-5">
                <label>Package Id</label>
                <input type="text" class="form-control" id="packageId" required="">
            </div>

            <div class="mb-5">
                <label>Count In Storage</label>
                <input type="text" class="form-control" id="countInStorage" required="">
            </div>

            <div class="mb-5">
                <label>Warranty Month</label>
                <input type="text" class="form-control" id="warrantyMonth" required="">
            </div>

            <div class="mb-5">
                <label>Series</label>
                <input type="text" class="form-control" id="series" required="">
            </div>

            <div class="mb-5">
                <label>Model</label>
                <input type="text" class="form-control" id="model" required="">
            </div>

            <div class="mb-5">
                <label>Edit</label>
                <input type="text" class="form-control" id="model" required="">
            </div>

            <p>
                <button id="btnCharacteristic" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#characteristicmain" aria-expanded="false" aria-controls="collapseExample">
                    Characteristic
                </button>
            </p>
            <div class="collapse" id="characteristicmain">
                <div id="charcteristicContainer">

                </div>
            </div>



            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Edit</button>
        </form>
    </div>
    <script src="~/js/jquery-1.12.4.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    @*<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>*@
    @*<script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>*@
    @*<script src="/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="~/js/product-edit.js"></script>
</body>
</html>